trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build
  jobs:
  - job: BuildDocker
    steps:
    - task: Docker@2
      displayName: "Build Backend"
      inputs:
        command: build
        # Correct path for your repo structure
        dockerfile: 'backend/Dockerfile' 
        buildContext: 'backend'
    
    - task: Docker@2
      displayName: "Build Frontend"
      inputs:
        command: build
        # Correct path for your repo structure
        dockerfile: 'frontend/Dockerfile' 
        buildContext: 'frontend'